<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Satellite Data</title>
  </head>
  <style>
   .mainBox{
    height: 85vh;
   }
   h1{
    text-align: center;
   }
  </style>
  
  <body>
    <h1>Australian Bushfires 2019 - Satellite Data</h1>
    <div class="col-md-5" style="width: 1500px;height: 850px;margin-left: 100px;">
      <canvas id="myChart"></canvas>
    </div>
    <div class="panel panel-primary" style="width: 500px;right: 10px;position: absolute;top: 100px;">
      <div class="panel-heading">
        <h2>Explanations of Data Points</h2>
        <h3>SCAN:</h3>
        <p>Fire pixels relate to 1km, but satellite pixels</p>
        <p>get bigger at the edge of the scan.</p>
        <p>Scan is a reflection of the actual pixel size.</p>
        <h3>TRACK:</h3>
        <p>As with Scan, Track shows the actual pixel size.</p>
        <h3>TYPE:</h3>
        <p>0 = Presumed Vegetation Fire</p>
        <p>2 = Presumed Fire over other static land</p>
        <p>3 = Presumed Offshore Fire</p>
        <h3>BRIGHT TI4:</h3>
        <p>Brightness temperature taken from channel:  </p>
        <p>MODIS (Moderate Resolution Imaging Spectroradiometer) channels 21/22</p>
        <p>VIIRS (Visible Infrared Imaging Radiometer Suite) channel 4</p>
        <h3>BRIGHT TI5:</h3>
        <p>Brightness temperature taken from channel:  </p>
        <p>MODIS (Moderate Resolution Imaging Spectroradiometer) channel 31</p>
        <p>VIIRS (Visible Infrared Imaging Radiometer Suite) channel 5</p>
        <h3>FRP:</h3>
        <p>Fire Radiative Power measured in MW (megawatts)</p>
      </div>
      <div id= class="panel-body"></div>
    </div>
  </body>
  <script src="https://cdn.bootcss.com/d3/5.9.2/d3.min.js"></script>
  <script src="https://cdn.staticfile.org/Chart.js/3.9.1/chart.js"></script>

  <script>
    window.onload=function(){
        var i=0;
        var csvLength=1000;
        var data_list=[];
        var date_list=[];
       
        d3.csv("/data/allData.csv",function(csvdata){  
            i++;
            if(i<csvLength){
              data_list.push(csvdata);
              date_list.push(csvdata.acq_date);
            }else if(i==csvLength){
              var data_sort_list=data_list.sort(dateData('acq_date',true));
              create_line_chart(getDate(date_list),data_sort_list);
            }
        });  
    }



    function dateData(property, bol) {
      return function(a, b) {
        var value1 = a[property];
        var value2 = b[property];
        if (bol) {
          // 升序
          return Date.parse(value1) - Date.parse(value2);
        } else {
          // 降序
          return Date.parse(value2) - Date.parse(value1)
        }
      }
    }

    
    function getDate(data) {
        var map = {};
        var sort_vaule=[];
        var return_dates={};
        for (i = 0; i < data.length; i++) {
            var key = data[i]
            if (map[key]) {
                map[key] += 1
            } else {
                map[key] = 1
            }
        }
        let keysSorted = Object.keys(map).sort();
        return keysSorted;
    }

    function create_line_chart(labels,date){
      var scanList=[];
      var trackList=[];
      var typeList=[];
      var bright_ti4List=[];
      var bright_ti5List=[];
      var frpList=[];

      date.forEach(element=>{
        scanList.push(element.scan);
        trackList.push(element.track);
        typeList.push(element.type);
        bright_ti4List.push(element.bright_ti4);
        bright_ti5List.push(element.bright_ti5);
        frpList.push(element.frp);

      })
      var ctx = document.getElementById('myChart');
       const data = {
       labels: labels,
       datasets: [{
            label: 'scan',
            data: scanList,
            fill: true,
            backgroundColor:'#faebd700',
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        },
        {
            label: 'track',
            data: trackList,
            fill: true,
            borderColor: 'rgb(175, 92, 92)',
            tension: 0,
            backgroundColor:'#faebd700',
            showLine:true
        },
        {
            label: 'type',
            data: typeList,
            fill: true,
            borderColor: 'rgb(175, 30, 92)',
            tension: 0,
            backgroundColor:'#faebd700',
            showLine:true
        },
        {
            label: 'bright_ti4',
            data: bright_ti4List,
            fill: true,
            borderColor: 'rgb(21, 22, 92)',
            tension: 0,
            backgroundColor:'#faebd700',
            showLine:true
        },
        {
            label: 'bright_ti5',
            data: bright_ti5List,
            fill: true,
            borderColor: 'yellow',
            tension: 0,
            backgroundColor:'#faebd700',
            showLine:true
        },
        {
            label: 'frp',
            data: frpList,
            fill: true,
            borderColor: 'black',
            tension: 0,
            backgroundColor:'#faebd700',
            showLine:true
        },
      ]
       };
       
       var lineChart = new Chart(ctx, {
           type: 'line',
           data: data,
           options: {
                responsive: true,
                maintainAspectRatio: false,
            },
      });
    }

</script>
  
</html>